
  #banner{
    width: 100%;
    position: absolute;
    overflow: hidden; 
    background: #FFEC64;
    height: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  span{
    font-family: 'PPFraktionSans-Bold';
    font-size: large;
    margin-left: 13px;
    letter-spacing: 0.15em;
  }

  .scroll-left {
            display: inline-block;
            animation: scrollText 200s infinite linear; 
            position: absolute;
            overflow:hidden;
            white-space:nowrap;
  }
    
  @keyframes scrollText {

        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-110%);
        }
  }

  #img_bg{
      position: absolute;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center;
      width: 100vw;
      height: 100vh;
  }

  #img_logo{
     position: absolute;
     top:0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
  }
    
  @media (max-width: 320px){

        #img_bg{
            display:none !important;
        }
        
        #mobile_img_bg{
            display: block !important;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center;
            width: 100vw;
            height: 100vh;
        }

        #img_logo{
            display:none  !important;
        }

        #mobile_img_logo{
            display:block !important;
            position: absolute;
            width: 320px;
        }

        #banner{
            height: 25px;
          }

        #banner-continer{
            top: 3px;
        }
   }


   @media (min-width: 320px) and (max-width:375px) {

        #img_bg{
            display:none !important;
        }
        
        #mobile_img_bg{
            display: block !important;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center;
            width: 100vw;
            height: 100vh;
        }

        #img_logo{
            display:none  !important;
        }

        #mobile_img_logo{
            display:block !important;
            position: absolute;
            width: 360px;
        }

        #banner{
            height: 25px;
        }

        #banner-continer{
            top: 3px;
        }

  }
  
  
  @media (min-width: 375px) and (max-width:425px) {

    #img_bg{
        display:none !important;
    }
    
    #mobile_img_bg{
        display: block !important;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        width: 100vw;
        height: 100vh;
    }

    #img_logo{
        display:none  !important;
    }

    #mobile_img_logo{
        display:block !important;
        position: absolute;
        width: 370px;
    }

    #banner{
        height: 25px;
    }

    #banner-continer{
        top: 3px;
    }

  }

  @media (min-width: 425px) and (max-width:768px) {

    #img_bg{
        display:none !important;
    }
    
    #mobile_img_bg{
        display: block !important;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        width: 100vw;
        height: 100vh;
    }

    #img_logo{
        display:none  !important;
    }

    #mobile_img_logo{
        display:block !important;
        position: absolute;
        width: 380px;
    }

    #banner{
        height: 25px;
    }

    #banner-continer{
        top: 3px;
    }

  } 

   @media (min-width: 425px) and (max-width:768px) {

    #img_bg{
        display:none !important;
    }
    
    #mobile_img_bg{
        display: block !important;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        width: 100vw;
        height: 100vh;
    }

    #img_logo{
        display:none  !important;
    }

    #mobile_img_logo{
        display:block !important;
        position: absolute;
        width: 400px;
    }

    #banner{
        height: 25px;
    }

    #banner-continer{
        top: 3px;
    }
}



    
