    #container_main{
        background-image: url(Desktop_Coming_Soon.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center ;
    }

 #container-img{
        background-image: url(desktop_logo.png) ;
        width: 400px;
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
  }

    
  #banner{
    width: 100%;
    position: absolute;
    overflow: hidden; 
    background: #FFEC64;
    height: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }



  span{
    font-family: 'PPFraktionSans-Bold';
    font-size: large;
    margin-left: 13px;
  }

  .scroll-left {
            display: inline-block;
            animation: scrollText 30s infinite linear ; 
            position: absolute;
            overflow:hidden;
            white-space:nowrap;
  }
    
  @keyframes scrollText {

        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-20%);
        }
  }


  #img_bg{
      position: absolute;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position:cover;
      width: 100vw;
      height: 100vh;
  }

  #img_logo{
     position: absolute;
  }
    
  @media (max-width: 320px){

        #container_main{
            background-image: url(Mobile_Coming_Soon.png);
        }

        #container-img{
            background-image: url(mobile_logo.png) ;
            width: 200px;
            height: 200px;
        }

        #banner{
            height: 25px;
          }
   }


   @media (min-width: 320px) and (max-width:375px) {

        #container_main{
            background-image: url(Mobile_Coming_Soon.png);
        }

        #container-img{
            background-image: url(mobile_logo.png) ;
            width:200px;
            height: 200px;
        }

        #banner{
            height: 25px;
        }
        
  }
  
  
  @media (min-width: 375px) and (max-width:425px) {

        #container_main{
            background-image: url(Mobile_Coming_Soon.png);
        }

        #container-img{
            background-image: url(mobile_logo.png) ;
            width: 250px;
            height: 250px;
        }

        #banner{
            height: 25px;
        }
  }

  @media (min-width: 425px) and (max-width:768px) {

    #container_main{
        background-image: url(Mobile_Coming_Soon.png);
    }

    #container-img{
        background-image: url(mobile_logo.png) ;
        width: 300px;
        height: 300px;
    }

  } 

   @media (min-width: 425px) and (max-width:768px) {

        #container_main{
            background-image: url(Mobile_Coming_Soon.png);
        }
    
        #container-img{
            background-image: url(mobile_logo.png) ;
            width: 350px;
            height: 350px;
        }
   }
    


    
